.container__header{
  background: #F2F2F2;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #F2F2F2;


  &-left-logo {
    position: relative;
    width: 259px;
    height: 61px;
    margin: 0;
    padding: 33px 0 0 60px;
  }

  &_menu {
    display: flex;
    justify-content: center;
    max-width: 683px;
    width: 100%;
    font-weight: 500;
    font-style: normal;
    font-size: $font-size;
    padding: 50px 0 0 0;
  }

  &__last_img{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 0 50px 0;

    .center_img{
      max-width: 1235px;
      max-height: 768px;
    }

  }

  &__btn {
    position: relative;
    padding: 33px 60px 0 0;
    cursor: pointer;

    button{
      background: #FFFFFF;
      width: 194px;
      height: 61px;
      border: none;
      border-radius: 60px;
      color: $font-color-blue;
      font-weight: 700;
      font-size: $font-size -($font-size / 8);
      line-height: 1.295rem;
      cursor: pointer;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: $font-color-white;
    padding: 130px 0 0 0;


    h1  {
      font-weight: 500;
      font-size: ($font-size * 4) + ($font-size / 4);
      padding: 0 0 8px 0;
      line-height: ($font-size * 5) + ($font-size / 10);
    }

    p{
      font-weight: 400;
      font-size: $font-size + ($font-size / 4);
      line-height: $font-size +($font-size / 2);
      opacity: 0.8;
      padding: 0 0 8px 0;
    }
  }
}





