$desktop: 1200px;
$ipad: 960px;
$ipad-min: 768px;
$tablet: 640px;
$mobile: 480px;
$mobile-min: 370px;


$font-color-white: #FFFFFF;
$font-color-black: #3B3E43;
$font-color-blue: #57B3FE;
$font-color-gray: #595E64;
$font-color-bottomGray: #424A4D;
$font-color-bottomMenu: rgba(255, 255, 255, 0.8);

$font-size: 1rem;
